// Navigation code here
.navigation {
    width: 100%;
    background: @wild-sand;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar .left {
    .displayFlex(center, center);
    margin:  0 50%;
    padding-bottom: 2rem;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    a {
        text-decoration: none;
        padding: 2rem 6rem;
         font-size: 1.6rem;
        color: @nav-font;
        justify-content: space-between;


    }

}
.navbar .nav-bottom {
    justify-content: space-evenly;
}






